body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f488;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 17px;
  text-transform: capitalize;
  list-style: none;
}

h1 {
  color: #222222;
  text-decoration: underline;
  margin: 20px auto;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
}

td {
  padding: 10px;
  text-align: left;
}

input,
select,
textarea {
  width: 105%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

#balance {
  width: 60%;
}



#img {
  display: none;
}

#imglab {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}


#drinksters {
  vertical-align: auto;

}

#right {
  margin-top: 10px;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #45a049;

}

input:hover,
textarea:hover {
  background-color: #f7fff8;
}

select:hover {
  background-color: #f3fff5;
}

#rugs {
  color: #18447e;
  /* text-decoration: none; */
}

#rugs:visited {
  color: #18447e;
}

#rugs:hover {
  color: #0d2646;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #e7e7e7;
  border-radius: 29%;
  margin-right: 19px;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.drinkcheck {
  text-align: center
}


.policy {
  color: #85A1BD;
  font-weight: 600;
}

.policy:visited {
  color: #85A1BD;
  font-weight: 600;
}

.policy:hover {
  background-color: #9db3cc;
  color: #364350;
}



input:focus,
textarea:focus {
  background-color: #e8fdea;
}

#pol {
  padding-left: 12em;
}